select,
input {
  box-shadow: 0px 45px 112px rgba(0, 0, 0, 0.06),
    0px 22.7812px 48.825px rgba(0, 0, 0, 0.0405),
    0px 9px 18.2px rgba(0, 0, 0, 0.03),
    0px 1.96875px 6.475px rgba(0, 0, 0, 0.0195);
  border-radius: 10px;
  padding: 10px 20px;
  margin-right: 20px;
  border: 0;
}
