.pagination {
  padding-top: 10px;
  .item {
    padding: 10px 15px;
    border: 1px solid black;
    display: inline-block;
    background-color: #ccc;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
  }
}
